.space{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-image: url(https://xn-----elcahffngcif9bjk1b7a3e8dh.xn--p1ai/media/k2/categories/51_o.jpg);
    font-size: 70px;
    color: white;
    font-weight: bold;
    padding-bottom: 300px;
}
body {
    background-color: #f5f5f6;
}
.country_vizy_header_left {
    position: relative;
    display: inline-block;
    max-width: 640px;
    padding: 50px 0;
}
.country_vizy_header h1 {
    font-size: 4.500em;
    color: #fff;
    height: auto;
    text-align: left;
    line-height: 1.25em;
    margin: 0;
}

.country_vizy_header h1 a {
    display: inline-block;
    color: #ffb400;
    text-decoration: none;
    position: relative;
}

}.centerBlock {
    width: 100%;
    max-width: 1180px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}
.country_documents {
    width: 620px;
    float: left;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #f1f1f3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 30px rgba(12, 12, 20, .08);
    -moz-box-shadow: 0 0 30px rgba(12, 12, 20, .08);
    box-shadow: 0 0 30px rgba(12, 12, 20, .08);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.country_documents ul li, .country_rest ul li {
    list-style: none;
    background-image: url(https://xn-----elcahffngcif9bjk1b7a3e8dh.xn--p1ai/templates/viza/images/pricelist_marker.png);
    background-position: left 6px;
    background-repeat: no-repeat;
    padding-left: 22px;
    line-height: 30px;
}


